<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>index</title>
  </head>
  <body>
    {{>navbar}}
    <h1 style="margin:20rem 40%">Welcome to home page</h1>
    {{>footer}}
    {{>links}}
  </body>
</html>