<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    {{>navbar}}
     <div class="container main_content">
        <div class="row">
            <div class="col-lg-3 col-3 mx-auto left_content">
                <img src="images/boost.jfif"  alt="" class="img-fluid">
                <h3>Welcome</h3>
                <p>to the complete MERN Backend course</p>
                <a href="/login" class="btn-submit">Login</a>
            </div>
            <div class="col-lg-9 col-9 mx-auto right_content">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active mx-auto" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Employee Registration form</h3>
                        <form action="/register" method="POST" name="Emp-register-form">
                            <div class="row">
                                <div class="col-6 left-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fname" placeholder="First Name" value="" required>
                                    </div>
                                     <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email" value="" required>
                                    </div>
                                     <div class="form-group">
                                        <input type="tel" class="form-control" name="phone" placeholder="Your Phone" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Password" value="" required>
                                    </div>
                                </div>
                                <div class="col-6 right-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lname" placeholder="Last Name" value="" required>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="male">
                                            <input type="radio" class="form-check-input" id="male" name="gender" value="Male" >Male
                                        </label>
                                    </div>
                                    <div class="form-check-inline" >
                                        <label class="form-check-label" for="female">
                                            <input type="radio" class="form-check-input" id="female" name="gender" value="Female">Female
                                        </label>
                                    </div>
                                     <div class="form-group">
                                        <input type="number" class="form-control" name="age" placeholder="Enter Your Age" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" value="" required>
                                    </div>
                                    <input type="submit" value="Register" id="register" onclick="submitForm();">
                                </div>
                            </div>
                        </form>
                        </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Employee Login form</h3>
                        <form action="/login" method="POST">
                            <div class="row">
                                <div class="col-6 left-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fname" placeholder="First Name" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lname" placeholder="Last Name" value="">
                                    </div>
                                     <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Your Email" value="">
                                    </div>
                                     <div class="form-group">
                                        <input type="tel" class="form-control" name="phone" placeholder="Your Phone" value="">
                                    </div>
                                </div>
                                <div class="col-6 right-form">
                                     <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Password" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="answer" placeholder="Answer" value="">
                                    </div>
                                    <input type="submit" value="Register" id="register" >
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>links}}
    <script>
        const preventDef=(event)=>{
            event.preventDefault();
        };
        function submitForm() {
            // Get the first form with the name
            // Hopefully there is only one, but there are more, select the correct index
            var frm = document.getElementsByName('Emp-register-form')[0];
            frm.submit(); // Submit
            frm.reset();  // Reset
            return false; // Prevent page refresh
         }
    </script>
</body>
</html>